<html lang="nl" dir="ltr">
<head>
  <title>Anton Pieck Museum | Contact</title>
  <link rel="stylesheet" type="text/css" href="CSS/reset_plus.css">
  <link rel="stylesheet" type="text/css" href="CSS/stijl.css">
  <link href="https://fonts.googleapis.com/css2?family=Handlee&family=Titillium+Web&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
  <meta charset="utf-8">
</head>
<body>
  <header>
    <%- include('header'); -%>
  </header>
  <main>
    <h2>Wie zijn wij?</h2>
    <p class="wit">Het Anton Pieck Museum is een publieksgericht museum dat het werk van Pieck in al zijn veelzijdigheid op een aansprekende wijze toont in een sfeer die past bij de collectie.</p>
    <img class="contact" src="img/contact.jpg" alt="Binnenplein Anton Pieck Museum met waterput.">
    <h2>Visie</h2>
    <p class="wit">Het APM heeft nationaal en internationaal de enige en grootste collectie van originele werken van de kunstenaar Anton Pieck. Het werk wordt op professionele wijze geëxposeerd in een omgeving waar het qua sfeer zeer goed tot zijn recht komt. Het museum beschikt over een unieke collectie van zijn schilderijen en tekeningen. Het APM ontleent deze unieke positie aan zijn ontstaansgeschiedenis: de band met Anton Pieck en zijn familie en de rol van de beheerder van het erfgoed van Anton Pieck, die het museum heeft gekregen.Het APM spant zich vanaf de opening van het museum in 1984 in om Anton Piecks leven en werk toegankelijk te maken voor zo veel mogelijk mensen en hen daarmee te verrijken en te inspireren. Het museum laat mensen steeds vanuit andere thema’s kijken naar de wereld van Anton Pieck. Het APM laat zich andersom ook uitdagen door de actualiteit door eigentijdse illustratoren uit te nodigen hun werk in het museum te exposeren.</p>
    <h2>Contact</h2>
    <h5>Bezoekadres</h5>
    <p class="witkader">Noordwal 31, 8051 ES, Hattem</p>
    <h5>Postadres</h5>
    <p class="witkader">Noordwal 31, 8051 ES, Hattem</p>
    <h5>Telefoon</h5>
    <p class="witkader">(038) 444 21 92</p>
    <h5>Fax</h5>
    <p class="witkader">(038) 444 06 12</p>
    <h5>E-mail</h5>
    <p class="witkader">info@antonpieckmuseum.nl</p>
    <h5>KvK nr</h5>
    <p class="witkader">41039665</p>
    <h5>BTW nr</h5>
    <p class="witkader">0076.40.808</p>
  </main>
  <footer>
  </footer>
</body>
</html>
